<h1>All Restaurants</h1>
<p>There is <%= @restaurants.count %> restaurants on this website</p>
<% @restaurants.each do |restaurant| %>
  <div>
    <%= restaurant.name %>:
    <%= restaurant.address %>
    (<%= restaurant.phone_number %>)
    <%= restaurant.category.capitalize %>
    <%= link_to "See more details", restaurant_path(restaurant)  %>
  </div>
<% end %>